.header {
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 10;
  transition: transform .2s linear;
}

.header_hide {
  transform: translateY(-100%);
}

.header_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom-width: 1px;
}

.header_top_inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_menu_btn {
  position: absolute;
  left: 0;
  display: none;

  @media (max-width: 768px) {
    display: inline-flex;
  }
}

.header_logo {
  display: inline-block;

  @media (max-width: 768px) {
    img {
      width: 163px;
    }
  }
}

.header_search {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header_search_button {
  position: relative;
  z-index: 1;
  background-color: transparent;
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.header_search_input {
  background-color: var(--white);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0;
  width: 0;
  padding: 8px 0;
  transition: width .2s linear;
  border-bottom-width: 1px;

  &:focus {
    outline: none;
    border-color: var(--red);
  }

  &.header_search_input_show {
    width: calc(100vw - 40px);
  }

  @media (min-width: 576px) {
    background-color: transparent;

    &.header_search_input_show {
      width: 200px;
    }
  }
}

.header_nav {
  border-bottom-width: 1px;
  width: 100%;

  @media (max-width: 768px) {
    position: absolute;
    left: -320px;
    height: 100dvh;
    width: 320px;
    z-index: 2;
    border-right-width: 1px;
    background-color: var(--white);
    transition: left .2s linear;

    &.header_nav_show {
      left: 0;
    }
  }
}

.header_nav_head {
  display: none;

  @media (max-width: 768px) {
    border-bottom-width: 1px;
    margin-bottom: 24px;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header_backdrop {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1;
  background-color: var(--white);
}

.header_nav_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
  }
}

.header_nav_item {
  position: relative;

  @media (min-width: 768px) {
    &:hover .header_nav_item_content {
      visibility: visible;
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    width: 100%;

    &:hover, &:active, &:focus {
      .header_nav_item_content {
        display: flex;
      }
    }

    &:not(:last-child) {
      border-bottom-width: 1px;
    }
  }
}

.header_nav_item_button {
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 20px 0;
  color: var(--black);

  @media (max-width: 768px) {
    padding: 0 0 16px 0;
    width: 100%;
  }
}

.header_nav_item_content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--white);

  @media (min-width: 768px) {
    padding: 20px;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    visibility: hidden;
    opacity: 0;
    min-width: 176px;
    border-width: 1px;
    border-top-width: 0;
    transition: .3s linear;
  }

  @media (max-width: 768px) {
    display: none;
    padding-bottom: 20px;
  }
}

.header_nav_item_link {
  color: var(--black);
  font-size: 0.813rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color .2s linear;

  &:hover {
    padding-left: 8px;
    color: var(--gray);
  }

  &:not(:last-child) {
    padding-bottom: 8px;
    border-bottom-width: 1px;
  }
}
